<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>AngularJS Infinite Slider</title>
  <link rel="stylesheet" href="stylesheet.css"/>
</head>
<body ng-controller="appCtrl">

  <header>
    <h1>Infinite Slider for AngularJS</h1>
    <p>by <a href="http://gilbox.me">Gil Birman</a></p>
  </header>

  <div infinite-slider-boundary class="infinite-slider-boundary">
    <div infinite-slider snap classify-closest classify-snapped snapped-item-id="listData.snappedItemId" class="infinite-slider-container">
      <div class="infinite-slider-content">

        <div class="slide" ng-repeat="item in listData.items track by $index">
          <img ng-src="{{item.img}}" alt=""/>
        </div>

      </div>
    </div>
  </div>

  snappedItemId: <input type="text" ng-model="listData.snappedItemId"/><br/>
  url: <a href="{{listData.items[listData.snappedItemId].link}}">{{listData.items[listData.snappedItemId].link}}</a>

  <blockquote>

    <h3>Features</h3>

    <ul>
      <li>Compatible with Responsive and Fluid layouts</li>
      <li>Touch-friendly</li>
      <li>Drag-friendly</li>
      <li>Scroll-wheel-friendly</li>
      <li>Mobile-friendly</li>
      <li>Desktop-friendly</li>
      <li>Doesn't impede vertical scrolling</li>
      <li>Fake physics (could use improvement)</li>
      <li>No jQuery dependencies</li>
    </ul>

    <h3>Requirements</h3>

    <ul>
      <li>AngularJS</li>
      <li><a href="http://monospaced.github.io/hamster.js/">hamster.js</a></li>
      <li><a href="https://github.com/monospaced/angular-mousewheel">angular-mousewheel</a></li>
    </ul>

  </blockquote>


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js"></script>
<script src="vendor/hamster.js"></script>
<script src="vendor/mousewheel.js"></script>
<script src="infinite-slider.js"></script>
<script src="app.js"></script>

</body>
</html>