html, body {
  padding: 0;
  margin: 0; }

header {
  padding: 0 0 0 20px; }

a {
  pointer-events: none; }

.infinite-slider-boundary {
  width: 100%; }

.infinite-slider-container {
  position: relative;
  width: 310px;
  height: 400px;
  margin: auto;
  z-index: 1;
  overflow: visible; }
  @media all and (max-width: 1000px) {
    .infinite-slider-container {
      height: 310px; } }
  @media all and (max-width: 600px) {
    .infinite-slider-container {
      height: 210px; } }

.infinite-slider-content {
  position: absolute;
  z-index: 1;
  width: 100%; }
  .infinite-slider-content a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 390px;
    height: 390px;
    overflow: hidden;
    opacity: .2;
    -moz-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    transition: opacity 2s, border 0.5s, -webkit-transform .5s;
    -webkit-transition: opacity 2s, border 0.5s, -webkit-transform .5s;
    border: 10px solid transparent;
    border-radius: 200px; }
    .allow-click .infinite-slider-content a {
      opacity: .5;
      transition: opacity .5s, border 0.5s, -webkit-transform .5s;
      -webkit-transition: opacity .5ss, border 0.5s, -webkit-transform .5s; }
    .infinite-slider-content a.closest {
      opacity: 1;
      transition: opacity .5s, border 0.5s, -webkit-transform .5s;
      -webkit-transition: opacity .5s, border 0.5s, -webkit-transform .5s;
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1); }
    .infinite-slider-content a.snapped {
      border: 10px solid rgba(255, 0, 0, 0.5); }
    .infinite-slider-content a img {
      height: 100%; }
    @media all and (max-width: 1000px) {
      .infinite-slider-content a {
        width: 300px;
        height: 300px; } }
    @media all and (max-width: 600px) {
      .infinite-slider-content a {
        width: 200px;
        height: 200px; } }
