html, body {
  padding: 0;
  margin: 0; }

header {
  padding: 0 0 0 20px; }

.kinetic-slider-container {
  position: relative;
  width: 100%;
  height: 400px;
  z-index: 1;
  overflow: hidden; }
  @media all and (max-width: 1000px) {
    .kinetic-slider-container {
      height: 310px; } }
  @media all and (max-width: 600px) {
    .kinetic-slider-container {
      height: 210px; } }

.kinetic-slider-content {
  position: absolute;
  z-index: 1;
  width: 100%; }
  .kinetic-slider-content a {
    position: relative;
    display: block;
    float: left;
    width: 390px;
    height: 390px;
    padding: 5px;
    overflow: hidden; }
    .kinetic-slider-content a img {
      height: 100%; }
    @media all and (max-width: 1000px) {
      .kinetic-slider-content a {
        width: 300px;
        height: 300px; } }
    @media all and (max-width: 600px) {
      .kinetic-slider-content a {
        width: 200px;
        height: 200px; } }
